body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 10px;
  background: #c31432;  
  background: -webkit-linear-gradient(to right, #67308e, #c31432);  
  background: linear-gradient(to right, #240b36, #c31432); 
  color: #f7f7f7;
  box-shadow: 0px 0px 30px #f7f7f7;
}

.about-section {
  
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #67308e, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  box-shadow: 0px 0px 30px #f7f7f7;
  color: #f7f7f7;
  text-align: center;
  
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border-radius: 5px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(17, 14, 14);
  background-color: #f9f4f4;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.ourteam{
  color: #f7f7f7;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}