
<br><br>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Today, rapidly developing technology causes transformations in many sectors. Restaurant 
    and cafe management is also evolving in parallel with this trend. In this context, restaurants 
    tend to use QR menu system in order to increase customer satisfaction, manage operations 
    more efficiently, take customer requests into account and prioritize the customer, and 
    comply with hygiene standards.</p>
  <p>Flavourlab’s aim is to provide a more advanced experience. Most order management 
    systems offer the customer the ability to view the menus offered by the business and some 
    have the ability to order. Flavourlab does not settle for this, but focuses on the users by 
    providing them with the opportunity to choose the menu without wasting time by 
    remembering the user’s allergy information with a customized user registration system 
    within a single structure. In addition, they can order and pay and then evaluate this order 
    experience.</p>
</div><br><br>

<h2 class="ourteam">Our Team</h2><br><br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Bayhan</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that .</p>
        <p>bayhan@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>yunus</h2>
        <p class="title">Art Director</p>
        <p>Some text that </p>
        <p>yunus@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>emre</h2>
        <p class="title">Designer</p>
        <p>Some text </p>
        <p>emre@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>emre</h2>
        <p class="title">Designer</p>
        <p>Some text </p>
        <p>emre@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>emre</h2>
        <p class="title">Designer</p>
        <p>Some text </p>
        <p>emre@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>