<div class="container-fluid">
  <br />
   <a [routerLink]="['/login']" class="btn btn-primary">Login</a> &nbsp;
  <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign Up</a>&nbsp;
  
  <a [routerLink]="'/home'" class="btn btn-primary">Home</a> &nbsp;

  <a [routerLink]="['/aboutUs']" class="btn btn-primary">AboutUs</a>&nbsp;
  
  <router-outlet></router-outlet>
</div>
