/* home.component.css */

.home-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #fff; /* Beyaz renk */
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #ddd; /* Gri renk */
  margin-bottom: 30px;
}

.category-section {
  display: flex;
  justify-content: space-around;
}

.category {
  cursor: pointer;
  transition: transform 0.3s ease-in-out
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category h2 {
  margin-top: 15px;
  font-size: 1.8rem;
  color: #fff; /* Beyaz renk */
}

.photo{
  width: 150px; /* İstenilen genişlik */
  height: 150px; /* İstenilen yükseklik */
  object-fit: cover; 
  margin-right: 5px; 
}