<!-- home.component.html -->

<div class="home-container">
  <h1 class="title">Hoş Geldiniz!</h1>
  <p class="subtitle">Lezzetli yemeklerin, tatlıların ve içeceklerin keyfini çıkarın.</p>

  <div class="category-section">
    <div class="category" (click)="foodCategory('yemek')" [routerLink]="['/food']">
      <img class="photo" src="https://imageproxy.wolt.com/venue/6232faaafd94b762808350de/ebcc50b6-a903-11ec-8d84-92cd96cd4d02_habib3.jpg"  alt="Yemek">
      <h2>Food</h2> 
    </div>

    <div class="category" (click)="foodCategory('tatli')" [routerLink]="['/dessert']">
      <img class="photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEcmznN0UK8iKyMl6gDjUNsxsAzmczlqUv_g&usqp=CAU" alt="Tatlı">
      <h2>Dessert</h2>
    </div>

    <div class="category" (click)="foodCategory('icecek')" [routerLink]="['/drink']">
   <img class="photo" src="https://www.aromsa.com/assets/images/news/dunyada-gazli-icecek-kategorisi.jpg" alt="İçecek">
   <h2>Drink</h2>
</div>

  </div>
</div>
